* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --primary-text: rgb(228 228 231);
}

body {
    background-color: rgb(39 39 42);
}

h1, h2, h3, h4, h5, h6, span, p, a, li, button, input, label, textarea, select {
    color: var(--primary-text);
}

/*
 * General Styles
 */

.hover-grow {
    transition: all .2s ease-in-out;
}

.hover-grow:hover {
    transform: scale(1.2);
}

.link-style {
    color: rgb(0, 160, 255);
}

.link-style:hover {
    color: rgb(0, 120, 255);
    text-decoration: underline;
}

.linkedin {
    color: rgb(10, 102, 194);
}

.github {
    color: rgb(255, 255, 255);
}

.javascript {
    color: rgb(239, 216, 29);
}

.html5 {
    color: rgb(227, 76, 38);
}

.css3 {
    color: rgb(21, 114, 182);
}

.php {
    color: rgb(79, 93, 149);
}

.laravel {
    color: rgb(255, 45, 32);
}

.react {
    color: rgb(97, 218, 251);
}

/*
 * Top Navigation
 */
#topnav {
    height: 7rem;
    border-bottom-width: 4px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgb(39 39 42) 0%, rgb(82 82 91) 50% , rgb(39 39 42) 100%) 30;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

#topnav a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

#topnav a h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, rgb(253, 224, 71), rgb(59, 130, 246));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

#topnav #social-links {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#topnav #social-links a {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 768px) { /* Mobile */
    #topnav {
        padding-left: 1rem;
        padding-right: 1rem;
        display: block;
    }

    #topnav #social-links a {
        margin-left: 0;
        margin-right: 1rem;
    }

    #topnav #social-links i {
        margin-bottom: 0.5rem;
    }
}

/*
 * Main Content
 */
#home {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) { /* Mobile */
    #home {
        max-width: 95%;
    }
}

@media screen and (min-width: 768px) { /* Desktop */
    #home {
        max-width: 80%;
    }
}

.grid {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.grid article {
    background-color: rgb(54 54 57);
    border-radius: 5px;
    padding: 1rem;
}

.link-button {
    display: block;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    width: fit-content;
    background-color: rgb(86, 86, 90);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.link-button:hover {
    background-color: rgb(66, 66, 70);
}

#experience {
    margin-top: 2rem;
}

#experience > h3 {
    margin-top: 1rem;
}

.grid article i {
    font-size: 6rem;
}

.grid article img {
    width: 6rem;
    height: 6rem;
}

#experience section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    text-align: center;
}

/*
 * Footer
 */
#footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
